*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.3s all;
}
.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  width: 40vw;
  background: linear-gradient(to right,rgb(7, 178, 236) 0%, rgb(67, 67, 216) 100%);
  border-radius: 30px;
  box-shadow: 3px 3px 15px black;
}

.steps{
  font-size: x-large;
  color: white;
}
.add-step{
  background-color: rgb(36, 232, 72);
  border: none;
  outline: none;
  width: 20vw;
  height: 5vh;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(46, 45, 45);
  font-size: large;
  color: white;
}
.add-step:hover{
  cursor: pointer;
  background-color: rgba(36, 232, 72,0.6);
}
.reset-steps{
  background-color: rgb(36, 232, 72);
  border: none;
  outline: none;
  width: 20vw;
  height: 5vh;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(46, 45, 45);
  font-size: large;
  color: white;
}
.reset-steps:hover{
  cursor: pointer;
  background-color: rgba(36, 232, 72,0.6);
}